*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}
html, body{
    height: 100%;
    width: 100%;
}
div.grid-container{
    min-height: 100%;
    display: grid;
    grid-template-rows: 80px auto 40px;
    grid-template-areas:
    'nav nav nav'
    'main main main'
    'footer footer footer';
    overflow: hidden;
    grid-template-columns: 100%;
}
/* Navbar */
nav{
    grid-area: nav;
    background-color: #2ecc71;
    color: black;
    overflow: hidden;
}
div.nav-container{
    align-items: center;
    display: grid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
    'logo search login';
}
li{
    list-style: none;
}
div.nav-left{
    grid-area: logo;
    padding-left: 5%;
}
.nav-mid{
    grid-area: search;
    text-align: center;
}
div.nav-right{
    grid-area: login;
}
.nav-right table{
    justify-items: end;
}
.dropdown{
    display: none;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.dropdown-main{
    /* display: flex; */
    width: inherit;
}
.drop-btn{
    display: none;
    /* width: 100%; */
    /* padding: 1em; */
}
.dropdown-set{
    display: none;
}
.drop-img{
    background-image: url("../assets/tony.jpg");
    background-size: contain;
    width: 22%;
    height: inherit;
    background-repeat: no-repeat;
}
.dropdown-set.on{
    display: block;
}
.dropdown-set a{
    display: block;
}
.login-wrap{
    background-color: rgb(54,171,113);
    text-align: center;
    border: 1px black solid;
}
.login-button{
    background: none;
    border: 0;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    width: 55px;
}
.register-form h1{
    font-size: 2em;
    font-weight: 400;
}
td{
    font-size: .9em;
    height: 20px;
}
.login-table input{
    height: 24px;
    padding: 3px;
    padding-bottom: 4px;
    width: 142px;
    border: 1px solid black;
    border-radius: 2px;
}
.search-container{
    width: 100%;
    display: none;
}
#search-bar{
    width: 80%;
    height: 3.2em;
}
/* Logout */
button#log-out{
    visibility: hidden;
}
/* Main */
main{
    grid-area: main;
    display: grid;
    grid-template-rows: 568px auto;
    grid-template-columns: 100%;
    grid-template-areas: 'registration'
    'info';
    overflow: hidden;
}
div.main-container{
    background-color: #ecf0f1;
    grid-area: registration;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'none reg';
}
#registration{
    /* width: inherit; */
    display: grid;
    grid-area: reg;
    grid-template-columns: 15% 60% 25%;
    grid-template-areas: 'none form';
}
div.form-container{
    grid-area: form;
    display: grid;
    grid-template-rows: 4% 96%;
    grid-template-areas: 'none' 'inputs';
}
#registration form{
    grid-area: inputs;
    align-self: flex-start;
}
form h1{
    width: inherit;
    margin: .4em auto;
}
.select-birthday{
    margin: 1em 0;
}
.terms-text{
    font-size: .8em;
}
.form-inputs input{
    width: 49%;
    height: 4.2em;
    display: inline-block;
    margin: 1em auto;
    border: 1px solid #B8BEBF;
    border-radius: 5px;
    padding: 3px;
    padding-bottom: 4px;
}
div.select-birthday h3{
    margin-bottom: .5em;
}
div.select-birthday select{
    border-radius: 5%;
    background-color: #FFFFFF;
    height: 3em;
}
.join-button{
    background-color: rgb(3, 128, 35);
    color: white;
    text-align: center;
    font-size: 24px;
    height: 1.8em !important;
}
input.full-input{
    width: 100%;
}
div.info-container{
    width: 100%;
    margin: 0 auto;
    grid-area: info;
    display: grid;
    grid-template-rows: 700px 550px;
    grid-template-areas: 'subInfo' 'moreInfo';
}
.table-head{
    width: 100%;
}
.info-table td{
     width: 180px;
}
.info-table img{
    width: 150px;
}
.info-icons-row{
}
.info-text{
    background-image: url("../assets/bg-img-1.jpg");
    background-size: cover;
    grid-area: subInfo;
}
.more-info{
    grid-area: moreInfo;
    background-color: #FFF;
    background-image: url("../assets/bg-img-2.jpg");
    background-repeat: no-repeat;
}
.table-container{
    width: 80%;
    margin: 0 auto;
}
.table-container, .table-grid{
    height: 100%;
}
.table-grid{
    display: grid;
    grid-template-rows: 20% 30% 50%;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    grid-template-areas:
    'none none none'
    'tHead tHead tHead'
    'tIcons tIcons tIcons';
}
.table-description{
    grid-area: tHead;
    text-align: center;
}
.info-table{
    grid-area: tIcons;
    text-align: center;
    align-self: normal;
}
.table-description{
}
.info-img{
    background-size: cover;
    background-position: left;
    background-attachment: inherit;
}

/* News Feed */
.news-feed{
    grid-area: feed;
    grid-template-areas: 'user-post'
    'feed'
}
#post{
    grid-area: user-post;
    margin: 0 3em;
}
.feed-container{
    grid-area: feed;
}

.post-container{
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: 5em;
    border: 1px solid black;
}
.user-pic{
    max-width: 100%;
    height: inherit;
}
#post, .feed-grid{
    padding: 0 5em;
}
.feed-grid{
    width: 60%;
    margin: 0 auto;
}
.post-grid{
    text-align: center;
    margin: 2em 0;
}
#posts{
    height: inherit;
    padding: 1em;
}
.pro-pic{
    background-size: cover;
    min-height: 100%;
    border-right: 1px solid black
}
/* .pro-pic img{
    width: 5em;
} */
/* FOOTER  */
footer{
    grid-area: footer;
    width: 100%;
    background-color: #2ecc71;
}
.footer-container, .footer-container a{
    color: black;
}
.footer-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-column-gap: 20%;
    grid-template-columns: 40% 40%;
    grid-template-areas:
    'copyright social';
    padding: 0 3%;
    position: static;
}
footer-left{
    grid-area: copyright;
}
footer-right{
    grid-area: social;
}
ul.footer-socials{
    display: grid;
}
ul.footer-socials{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.hide{
    display: none;
}
