div.nav-login{
    display: flex;
    align-items: baseline;
}
ul.nav-menu{
    /* justify-content: space-around; */
}
div.nav-login{
    justify-content: space-evenly;
}
#user-info{
    display: none;
}

.logged-in #user-info{
    display: block;
}

.logged-in #signUp,
.logged-in #login{
    display: none;
}
