@media only screen and (min-width: 1400px) {
    body{
      /*background-color: #FFF;*/
    }
    div.grid-container{
      grid-template-rows: 80px auto 40px;
    }
    .form-container{
        grid-template-rows: 0 100%;
    }
    form h1{
        width: inherit;
        margin: .6em auto;
    }
    main{
      grid-template-rows: 600px auto;
    }
    .info-table img{
        height: 200px;
        width: auto;
    }
    .table-description{
        font-size: 36px;
        font-weight: bold;
    }
    div.info-container{
      grid-template-rows: 650px 850px;
      grid-row-gap: 10em;
    }
    .table-grid{
      grid-template-rows: 10% 35% 55%;
    }
    .table-description{
      align-self: flex-end;
    }
    .info-table{
        align-self: flex-end;
    }
    .more-info{
        grid-area: moreInfo;
        background-color: #FFF;
        background-image: url("../assets/bg-img-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
