@media only screen and (min-width: 1400px) {
    div.grid-container{
      grid-template-rows: 80px auto 40px;
    }
    main{
      grid-template-rows: 500px auto;
    }
    div.info-container{
      grid-template-rows: 600px 800px;
    }
    .more-info{
        grid-area: moreInfo;
        background-color: #FFF;
        background-image: url("../assets/bg-img-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 80%; */
    }
}
