/* #container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
}

#menu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#title {
    grid-column-start: 1;
    grid-column-end: 1;
}

#login {
    grid-column: 3;
    grid-row: 2;
}

#signin {
    grid-column: 3;
    grid-row: 3;
}

#post {
    grid-column: 1 / span 3;
    grid-row: 4;
}

#posts {
    grid-column: 1 / span 3;
    grid-row: 3;
} */

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, max-content);
	grid-gap: 1em;

	grid-template-areas:
		"header header menu"
		"signup signup  login"
		"post post post"
		"posts posts posts"
}

#title {
	grid-area: header;
    font-size: 24px;
}

#menu {
	grid-area: menu;
}

#posts {
	grid-area: posts;
}

#post {
	grid-area: post;
}
.post{
    margin: 15px;
}
.post-text, .post-info{
    text-align: center;
}
.post-text{
    font-size: 20px;
}
.post-info{
    margin-top: 15px;
    font-size: 16px;
}

#login {
	grid-area: login;
}

#sign-up {
	grid-area: signup;
}
