:root {
	--main-color: #010101;
	--second-color: #f0ece2;
	--button-color: #69779b;
}

#title h1 {
	color: var(--main-color);
}

#menu a {
	color: var(--main-color);
}

#menu a:hover {
	background-color: var(--second-color);
}

#submit-post {
	background-color: var(--button-color);
	/* border: 1px solid black; */
}
